        <!-- Footer Section Start -->
<div class="gamfi-footer-section">
    @*<div class="container">
            <div class="footer-cta-area text-center active-shape hover-shape-inner">
                <h2 class="title mb-15 footer_titleV2">
                    Get alerts 💌 for new IGOs & IDOs
                </h2>
                <div class="dsc mb-40 md-mb-30">
                    Sign up for newsletter to get more IGO/IDO News and Updates
                </div>
                <div class="gamfisubscriveSect">
                    <input type="email" placeholder="Email Address" class="wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="0.5s">
                    <a class="banner-btn wow fadeInUp black-shape" data-wow-delay="0.3s" data-wow-duration="0.5s" href="igo-apply.html">
                        <span class="btn-text">SUBSCRIBE</span>
                        <span class="hover-shape1"></span>
                        <span class="hover-shape2"></span>
                        <span class="hover-shape3"></span>
                    </a>
                </div>
                <span class="border-shadow shadow-1"></span>
                <span class="border-shadow shadow-2"></span>
                <span class="border-shadow shadow-3"></span>
                <span class="border-shadow shadow-4"></span>
                <span class="hover-shape-bg hover_shape1"></span>
                <span class="hover-shape-bg hover_shape2"></span>
                <span class="hover-shape-bg hover_shape3"></span>
            </div>
        </div>*@
    <div class="footer-area">
        <div class="container">
            <div class="sec-heading text-center">
                <div class="sub-inner mb-52 mb-mb-30">
                    <img class="heading-right-image" src="~/client-side/earntoken/assets/images/icons/steps2.png" alt="Steps-Image" />
                    <span class="sub-title white-color">Find us on Social</span>
                    <img class="heading-left-image" src="~/client-side/earntoken/assets/images/icons/steps.png" alt="Steps-Image" />
                </div>
            </div>
            <div class="footer-listing text-center mb-50 md-mb-70 xs-mb-50">
                <ul class="footer-icon-list">
                    <li><a href="@(CommonConstants.TWITTER_OFFICIAL)" target="_blank"><i class="icon-twitter"></i></a></li>
                    <li><a href="@(CommonConstants.FB_OFFICIAL)" target="_blank"><i class="icon-facebook"></i></a></li>
                    <li><a href="@(CommonConstants.TELEGRAM_COMMUNITY)" target="_blank"><i class="icon-telegram"></i></a></li>
                    <li><a href="@(CommonConstants.TELEGRAM_OFFICIAL)" target="_blank"><i class="icon-telegram"></i></a></li>
                    <li>@*<a href="@(CommonConstants.TELEGRAM_VIETNAM)" target="_blank"><i class="icon-telegram"></i></a>*@</li>
                    <li>
                        <a href="@(CommonConstants.GITHUB_OFFICIAL)" class="img" target="_blank">
                            <img src="~/client-side/earntoken/assets/images/github.png" />
                        </a>
                    </li>
                    <li><a href="@(CommonConstants.MEDIUM_OFFICIAL)" target="_blank"><i class="icon-medium"></i></a></li>
                    <li><a href="@(CommonConstants.REDDIT)" target="_blank"><i class="icon-discord"></i></a></li>
                    <li><a href="@(CommonConstants.LINKEDID_OFFICIAL)" target="_blank"><i class="icon-linkedin"></i></a></li>
                    @*<li><a href="#"><i class="icon-instagram"></i></a></li>*@
                </ul>
            </div>
            <div class="footer-logo text-center mb-45">
                <img src="~/images/tokenlogo.png" width="100" alt="Footer-logo" />
            </div>
            <div class="footer-mainmenu text-center mb-20">
                <ul>
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li><a href="@Url.Action("Index","NFTMarketplace")">Market</a></li>
                    <li><a href="@Url.Action("Index","Exchange")">Sale</a></li>
                    <li><a href="@Url.Action("Index","Saving")">Saving</a></li>
                    <li><a href="#">Staking</a></li>
                    <li><a href="#">MN to Earn</a></li>
                    <li><a href="#">MN Pool</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="copyright-area text-center mb-0">
                <div class="dsc mb-37 md-mb-25">
                    Copyright © 2022. All Rights Reserved by
                    <a target="_blank" class="gafi" href="#">Map Node</a>
                </div>
            </div>
            <div class="scrollup text-center">
                <a href="#gamfi-header"><i class="icon-arrow_up"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Footer Section End -->
