@using Microsoft.AspNetCore.Http.Extensions;
@using Microsoft.AspNetCore.Identity
@using Core.Extensions

@{
    var url = Context.Request.GetEncodedUrl();
    var role = User.GetSpecificClaim("RoleName");
    string iconSvg = "<span class=\"svg-icon svg-icon-5\">" +
                                "<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox =\"0 0 24 24\" fill =\"none\">" +
                                    "<path d=\"M14.4 11H3C2.4 11 2 11.4 2 12C2 12.6 2.4 13 3 13H14.4V11Z\" fill =\"black\" />" +
                                    "<path opacity=\"0.3\" d =\"M14.4 20V4L21.7 11.3C22.1 11.7 22.1 12.3 21.7 12.7L14.4 20Z\" fill =\"black\" />" +
                                "</svg></span>";
}

<div id="kt_aside" class="aside aside-dark aside-hoverable" data-kt-drawer="true" data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_aside_mobile_toggle">
    <div class="aside-logo flex-column-auto" id="kt_aside_logo">
        <a href="/dashboard">
            <img alt="Logo" src="~/images/tokenlogo.png" class="h-50px logo" />
        </a>
        <div id="kt_aside_toggle" class="btn btn-icon w-auto px-0 btn-active-color-primary aside-toggle" data-kt-toggle="true" data-kt-toggle-state="active" data-kt-toggle-target="body" data-kt-toggle-name="aside-minimize">
            <span class="svg-icon svg-icon-1 rotate-180">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon points="0 0 24 0 24 24 0 24" />
                        <path d="M5.29288961,6.70710318 C4.90236532,6.31657888 4.90236532,5.68341391 5.29288961,5.29288961 C5.68341391,4.90236532 6.31657888,4.90236532 6.70710318,5.29288961 L12.7071032,11.2928896 C13.0856821,11.6714686 13.0989277,12.281055 12.7371505,12.675721 L7.23715054,18.675721 C6.86395813,19.08284 6.23139076,19.1103429 5.82427177,18.7371505 C5.41715278,18.3639581 5.38964985,17.7313908 5.76284226,17.3242718 L10.6158586,12.0300721 L5.29288961,6.70710318 Z" fill="#000000" fill-rule="nonzero" transform="translate(8.999997, 11.999999) scale(-1, 1) translate(-8.999997, -11.999999)" />
                        <path d="M10.7071009,15.7071068 C10.3165766,16.0976311 9.68341162,16.0976311 9.29288733,15.7071068 C8.90236304,15.3165825 8.90236304,14.6834175 9.29288733,14.2928932 L15.2928873,8.29289322 C15.6714663,7.91431428 16.2810527,7.90106866 16.6757187,8.26284586 L22.6757187,13.7628459 C23.0828377,14.1360383 23.1103407,14.7686056 22.7371482,15.1757246 C22.3639558,15.5828436 21.7313885,15.6103465 21.3242695,15.2371541 L16.0300699,10.3841378 L10.7071009,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.5" transform="translate(15.999997, 11.999999) scale(-1, 1) rotate(-270.000000) translate(-15.999997, -11.999999)" />
                    </g>
                </svg>
            </span>
        </div>
    </div>
    <div class="aside-menu flex-column-fluid">
        <div class="hover-scroll-overlay-y my-5 my-lg-5" id="kt_aside_menu_wrapper" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_aside_logo, #kt_aside_footer" data-kt-scroll-wrappers="#kt_aside_menu" data-kt-scroll-offset="0">
            <div class="menu menu-column menu-title-gray-800 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500" id="#kt_aside_menu" data-kt-menu="true">
                
                @if (User.GetSpecificClaim("RoleName") == "Admin")
                {

                    <div class="menu-item">
                        <a class="menu-link @Html.Raw(url.Contains("/admin/report/index")?"active":"")" href="/admin/report/index">
                            <span class="menu-icon">
                                @Html.Raw(iconSvg)
                            </span>
                            <span class="menu-title">Report</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a class="menu-link @Html.Raw(url.Contains("/admin/tickettransaction/index")?"active":"")" href="/admin/tickettransaction/index">
                            <span class="menu-icon">
                                @Html.Raw(iconSvg)
                            </span>
                            <span class="menu-title">Ticket Transaction</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a class="menu-link @Html.Raw(url.Contains("/admin/config/index")?"active":"")" href="/admin/config/index">
                            <span class="menu-icon">
                                @Html.Raw(iconSvg)
                            </span>
                            <span class="menu-title">System Config</span>
                        </a>
                    </div>

                    <div class="menu-item">
                        <a class="menu-link @Html.Raw(url.Contains("/admin/token/index")?"active":"")" href="/admin/token/index">
                            <span class="menu-icon">
                                @Html.Raw(iconSvg)
                            </span>
                            <span class="menu-title">Token Config</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a class="menu-link @Html.Raw(url.Contains("/admin/WalletTransaction/index")?"active":"")" href="/admin/WalletTransaction/index">
                            <span class="menu-icon">
                                @Html.Raw(iconSvg)
                            </span>
                            <span class="menu-title">Wallet Transaction</span>
                        </a>
                    </div>

                    <div data-kt-menu-trigger="click"
                         class="menu-item
                         @Html.Raw(
                        (url.Contains("/admin/SavingTransaction/index")
                        || url.Contains("/admin/SavingTransaction/History"))
                        ? "here show":"") menu-accordion">

                        <span class="menu-link">
                            <span class="menu-icon">
                                <span class="svg-icon svg-icon-5">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M14.4 11H3C2.4 11 2 11.4 2 12C2 12.6 2.4 13 3 13H14.4V11Z" fill="black" />
                                        <path opacity="0.3" d="M14.4 20V4L21.7 11.3C22.1 11.7 22.1 12.3 21.7 12.7L14.4 20Z" fill="black" />
                                    </svg>
                                </span>
                            </span>
                            <span class="menu-title">Savings</span>
                            <span class="menu-arrow"></span>
                        </span>
                        <div class="menu-sub menu-sub-accordion">
                      <div class="menu-item">
                        <a class="menu-link @Html.Raw(url.Contains("/admin/SavingTransaction/index")?"active":"")" href="/admin/SavingTransaction/index">
                            <span class="menu-icon">
                                @Html.Raw(iconSvg)
                            </span>
                            <span class="menu-title">Saving Transaction</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a class="menu-link @Html.Raw(url.Contains("/admin/SavingTransaction/History")?"active":"")" href="/admin/SavingTransaction/History">
                            <span class="menu-icon">
                                @Html.Raw(iconSvg)
                            </span>
                            <span class="menu-title">Saving Profit History</span>
                        </a>
                    </div>
                        </div>
                    </div>

                    
                    <div class="menu-item">
                        <a class="menu-link @Html.Raw(url.Contains("/admin/exchange/block")?"active":"")" href="/admin/exchange/block">
                            <span class="menu-icon">
                                @Html.Raw(iconSvg)
                            </span>
                            <span class="menu-title">Sale Block Transaction</span>
                        </a>
                    </div>

                    
                    
                    <div class="menu-item">
                        <a class="menu-link @Html.Raw(url.Contains("/admin/supportmanage/index") ? "active" : "")" href="/admin/supportmanage/index">
                            <span class="menu-icon">
                                @Html.Raw(iconSvg)
                            </span>
                            <span class="menu-title">Support Center</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a class="menu-link @Html.Raw(url.Contains("/admin/user/customers")?"active":"")" href="/admin/user/customers">
                            <span class="menu-icon">
                                @Html.Raw(iconSvg)
                            </span>
                            <span class="menu-title">Member</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a class="menu-link @Html.Raw(url.Contains("/admin/user/indextree")?"active":"")" href="/admin/user/indextree">
                            <span class="menu-icon">
                                @Html.Raw(iconSvg)
                            </span>
                            <span class="menu-title">Tree View</span>
                        </a>
                    </div>
                    
                    <div data-kt-menu-trigger="click"
                         class="menu-item
                         @Html.Raw(
                        (url.Contains("/admin/cupitem/index")
                        || url.Contains("/admin/machineitem/index")
                        || url.Contains("/admin/UserCupHistory/index")
                        || url.Contains("/admin/UserDrinkHistory/index"))
                        ? "here show":"") menu-accordion">

                        <span class="menu-link">
                            <span class="menu-icon">
                                <span class="svg-icon svg-icon-5">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M14.4 11H3C2.4 11 2 11.4 2 12C2 12.6 2.4 13 3 13H14.4V11Z" fill="black" />
                                        <path opacity="0.3" d="M14.4 20V4L21.7 11.3C22.1 11.7 22.1 12.3 21.7 12.7L14.4 20Z" fill="black" />
                                    </svg>
                                </span>
                            </span>
                            <span class="menu-title">Drink To Earn</span>
                            <span class="menu-arrow"></span>
                        </span>
                        <div class="menu-sub menu-sub-accordion">
                            <div class="menu-item">
                            <a class="menu-link @Html.Raw(url.Contains("/admin/cupitem/index")?"active":"")" href="/admin/cupitem/index">
                                <span class="menu-icon">
                                    @Html.Raw(iconSvg)
                                </span>
                                <span class="menu-title">Cup Item</span>
                            </a>
                    </div>

                    <div class="menu-item">
                        <a class="menu-link @Html.Raw(url.Contains("/admin/machineitem/index")?"active":"")" href="/admin/machineitem/index">
                            <span class="menu-icon">
                                @Html.Raw(iconSvg)
                            </span>
                            <span class="menu-title">Machine Item</span>
                        </a>
                    </div>

                    <div class="menu-item">
                        <a class="menu-link @Html.Raw(url.Contains("/admin/shopitem/index")?"active":"")" href="/admin/shopitem/index">
                            <span class="menu-icon">
                                @Html.Raw(iconSvg)
                            </span>
                            <span class="menu-title">Shop Item</span>
                        </a>
                    </div>

                    <div class="menu-item">
                            <a class="menu-link @Html.Raw(url.Contains("/admin/UserCupHistory/index")?"active":"")" href="/admin/UserCupHistory/index">
                                <span class="menu-icon">
                                    @Html.Raw(iconSvg)
                                </span>
                                <span class="menu-title">User Cup History</span>
                            </a>
                    </div>
                    <div class="menu-item">
                            <a class="menu-link @Html.Raw(url.Contains("/admin/UserDrinkHistory/index")?"active":"")" href="/admin/UserDrinkHistory/index">
                                <span class="menu-icon">
                                    @Html.Raw(iconSvg)
                                </span>
                                <span class="menu-title">User Drink History</span>
                            </a>
                    </div>
                        </div>
                    </div>
                    
                }
                
                <div class="menu-item">
                    <a class="menu-link" href="/logout">
                        <span class="menu-icon">
                            @Html.Raw(iconSvg)
                        </span>
                        <span class="menu-title">Sign Out</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</div>